@media only screen and (min-width: 992px) {
    .image-cart {
        min-width: 77px!important;
        min-height: 90.66px!important;;
        max-width: 70px!important;;
        max-height: 90.66px!important;;
    }
}
